keras==2.8.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.2
python-dateutil==2.8.2
seaborn==0.11.2
sklearn==0.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
xgboost==1.6.0
